body {margin:0;}
.comp{
	writing-mode: tb-rl;
	transform: rotateZ(180deg);
	float:left;
}
.css-chart {
  /* The chart borders */
  border-bottom: 1px solid;
  border-left: 1px solid;
  /* The height, which is initially defined in the HTML */
  height: var(--widget-size);
  /* A little breathing room should there be others items around the chart */
  margin: 1em;
  /* Remove any padding so we have as much space to work with inside the element */
  padding: 0;
  position: relative;
  /* The chart width, as defined in the HTML */
  width: var(--widget-size);
}

/* The unordered list holding the data points, no list styling and no spacing */
.line-chart {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Each point on the chart, each a 12px circle with a light border */
.data-point {
  background-color: white;
  border: 2px solid lightblue;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

h2 {
font-family: Sans-serif;
color:#5b5e5b;
padding:10px 20px;
}
#navi  li a{
display: block;
  color: white;
  text-align: center;
  padding: 16px 20px 26px 20px;
  border-radius:4px;
  text-decoration: none;
  transition:.25s
  
}
#navi  li{
float: left;
}
#navi {
list-style-type: none;
  margin: -8;
  padding: 0;
  overflow: hidden;
  background-color: #3471B8;

}
#navi li a:hover {
  background-color: #084371;
}

.formular {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width:80%;
}
input[type=text]:focus {
  background-color: lightblue;
}
.scris{
width:90%;

float:left;

}
.butoane{
position:relative;
max-height:70%;


}
tr:hover {background-color: yellow;}


.nextback{
	padding:1em 3em;
	font-weight: bold;
	cursor:pointer;
}
.obiective{
	padding:8em 1em;
	
}

textarea {
  width: 65%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;

  resize: none;
}
.textareamic{
	height: 75px;
	
}
textarea:focus {
  background-color: lightblue;
}
h3{
color:#474a47;
}
h4{
color:#474a47;
}
.header{
  position: fixed;
  overflow: hidden;
  width: 100%;
  background:white;
z-index:20
}
 table tr td{
 padding: 15px;
color:#5b5e5b;
 }
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

